.navbar {
    display: flex;
    list-style-type: none;
    padding: 2%;
    color: #c4434c;
    background-color:#6c666b;
    justify-content: space-around;
    margin-bottom: 5%;

}

.navbar a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color:#c4434c;
}

.navbar a:hover {
    background-color: #c4434c;
    color: #6c666b;
}



.player-card {
    width: 100px;
    height: auto;
}

.dealer-card {
    width: 100px;
    height: auto;
}

footer{
    display: flex;
    background-color: #6c666b;
    color:#c4434c;
    justify-content: space-around;
    padding: 2%;
    margin-top: 40%;
}