body {
    text-align: center;
}

#title-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#search{
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: center;
}

#search input{
    width: 70%;
}

#recipe-container{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 3%;
}
#recipe-container img{
    max-width: 95%;
}

#recipe-content{
    align-items: ;
}